# wallmart

# imports

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np
import scipy
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('train.csv')
df

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

# checking for null values

In [3]:
df.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

# label encoding

In [4]:
l1 = LabelEncoder()
df['IsHoliday'] = l1.fit_transform(df['IsHoliday'])
print(df['IsHoliday'])

0         0
1         1
2         0
3         0
4         0
         ..
421565    0
421566    0
421567    0
421568    0
421569    0
Name: IsHoliday, Length: 421570, dtype: int64

In [5]:
df.drop(['Date'], axis = 1, inplace=True)
df.head()

   Store  Dept  Weekly_Sales  IsHoliday
0      1     1      24924.50          0
1      1     1      46039.49          1
2      1     1      41595.55          0
3      1     1      19403.54          0
4      1     1      21827.90          0

In [6]:
df['Weekly_Sales'].value_counts()

10.00      353
5.00       289
20.00      232
15.00      215
12.00      175
          ...
1946.71      1
2117.63      1
2184.65      1
2667.10      1
1076.80      1
Name: Weekly_Sales, Length: 359464, dtype: int64

In [7]:
y = df['Weekly_Sales']
X = df.iloc[:,:]
X.drop(['Weekly_Sales'], axis = 1, inplace = True)

In [8]:
y

0         24924.50
1         46039.49
2         41595.55
3         19403.54
4         21827.90
            ...
421565      508.37
421566      628.10
421567     1061.02
421568      760.01
421569     1076.80
Name: Weekly_Sales, Length: 421570, dtype: float64

# splitting data

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0, test_size = 0.3)

# fitting and training model

In [10]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

In [11]:
y_pred = lin_reg.predict(X_test)

In [12]:
r2 = r2_score(y_test,y_pred)
print(r2)

0.030851587394446156