In [1]:
import numpy as np # linear algebra
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json('whatscooking.json')

In [3]:
df.head(10)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...
5   6602     jamaican  [plain flour, sugar, butter, eggs, fresh ginge...
6  42779      spanish  [olive oil, salt, medium shrimp, pepper, garli...
7   3735      italian  [sugar, pistachio nuts, white almond bark, flo...
8  16903      mexican  [olive oil, purple onion, fresh pineapple, por...
9  12734      italian  [chopped tomatoes, fresh basil, garlic, extra-...

In [4]:
df.isnull().sum()

id             0
cuisine        0
ingredients    0
dtype: int64

In [7]:
df.cuisine.nunique()

20

In [8]:
df.cuisine.unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [10]:
df['cuisine'].value_counts()

italian         7838
mexican         6438
southern_us     4320
indian          3003
chinese         2673
french          2646
cajun_creole    1546
thai            1539
japanese        1423
greek           1175
spanish          989
korean           830
vietnamese       825
moroccan         821
british          804
filipino         755
irish            667
jamaican         526
russian          489
brazilian        467
Name: cuisine, dtype: int64

In [11]:
df['cuisine'] = df['cuisine'].map({'italian':1,
                       'mexican':2,
                       'southern_us':3,
                       'indian':4,
                       'chinese':5,
                       'french':6,
                       'cajun_creole':7,
                       'thai':8,
                       'japanese':9,
                       'greek':10,
                       'spanish':11,
                       'korean':12,
                       'vietnamese':13,
                       'moroccan':14,
                       'british':15,
                       'filipino':16,
                       'irish':17,
                       'jamaican':18,
                       'russian':19,
                       'brazilian':20
})

In [13]:
X = df.iloc[:,-1]
y = df['cuisine']
X

0        [romaine lettuce, black olives, grape tomatoes...
1        [plain flour, ground pepper, salt, tomatoes, g...
2        [eggs, pepper, salt, mayonaise, cooking oil, g...
3                      [water, vegetable oil, wheat, salt]
4        [black pepper, shallots, cornflour, cayenne pe...
                               ...
39769    [light brown sugar, granulated sugar, butter, ...
39770    [KRAFT Zesty Italian Dressing, purple onion, b...
39771    [eggs, citrus fruit, raisins, sourdough starte...
39772    [boneless chicken skinless thigh, minced garli...
39773    [green chile, jalapeno chilies, onions, ground...
Name: ingredients, Length: 39774, dtype: object

In [14]:
y

0        10
1         3
2        16
3         4
4         4
         ..
39769    17
39770     1
39771    17
39772     5
39773     2
Name: cuisine, Length: 39774, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [17]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [18]:
X_train

                                             ingredients
31255  [yellow onion, hot water, ground turmeric, fre...
32399  [lime juice, zucchini, chili powder, salt, dri...
34614  [fresh ginger, cauliflower florets, lemon juic...
22301  [fish sauce, pepper, garlic, calamansi, broth,...
4688   [water, salt, celery, onions, chicken stock, v...
...                                                  ...
7813   [orange juice concentrate, garlic cloves, fres...
32511  [grated parmesan cheese, fresh basil leaves, e...
5192   [basil leaves, olive oil, extra-virgin olive o...
12172  [powdered sugar, large egg yolks, salt, heavy ...
33003  [soy sauce, black beans, green onions, garlic,...

[31819 rows x 1 columns]

In [19]:
X_test

                                             ingredients
25674  [water, yoghurt, peanut oil, ground cumin, gro...
3666   [lemon zest, whipping cream, yellow corn meal,...
27481  [salad dressing, chuck roast, garlic, ground b...
36750  [sesame seeds, worcestershire sauce, cucumber,...
31926  [bay leaves, cayenne pepper, ground cloves, ve...
...                                                  ...
23536  [shredded cheddar cheese, ricotta cheese, eggs...
30857  [cajun seasoning, onions, water, hot Italian s...
36586  [eggplant, large garlic cloves, veal shanks, l...
17770  [ground pepper, cilantro, scallions, seedless ...
36850  [eggs, self rising flour, margarine, light bro...

[7955 rows x 1 columns]

In [21]:
X_train['ingredients'] = X_train['ingredients'].apply(lambda x:  ' '.join(x))
X_test['ingredients'] = X_test['ingredients'].apply(lambda x:  ' '.join(x))

In [26]:
X_test['ingredients']

25674    water yoghurt peanut oil ground cumin ground c...
3666     lemon zest whipping cream yellow corn meal bak...
27481    salad dressing chuck roast garlic ground black...
36750    sesame seeds worcestershire sauce cucumber pep...
31926    bay leaves cayenne pepper ground cloves vegeta...
                               ...
23536    shredded cheddar cheese ricotta cheese eggs Al...
30857    cajun seasoning onions water hot Italian sausa...
36586    eggplant large garlic cloves veal shanks large...
17770    ground pepper cilantro scallions seedless cucu...
36850    eggs self rising flour margarine light brown s...
Name: ingredients, Length: 7955, dtype: object

In [23]:
# Applying BoW
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
cv = CountVectorizer()
X_train_bow = cv.fit_transform(X_train['ingredients']).toarray()
X_test_bow = cv.transform(X_test['ingredients']).toarray()

In [25]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train_bow,y_train)

y_pred = gnb.predict(X_test_bow)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.24349465744814583